{% extends 'base.html.twig' %}

{% block body %}
   <a href="/" class="btn btn-default">Back To Todos</a>
   <hr>
   <h2 class="page-header">{{ todo.name }}</h2>
   <ul class="list-group">
      <li class="list-group-item">Category: {{ todo.category }}</li>
      <li class="list-group-item">Priority: {{ todo.priority }}</li>
      <li class="list-group-item">Due Date: {{ todo.dueDate|date('Y-m-d') }}</li>
   </ul>
   <p>
      {{ todo.description }}
   </p>
{% endblock %}